/* Add your CSS styles here */
body {
    font-family: 'gggg', Arial, sans-serif; /* Use custom font 'gggg', fallback to Arial and sans-serif */
    background-color: black; /* Change background color to black */
    color: white; /* Change text color to white */
    position: relative;
    margin: 0;
    padding: 0;
}

.top-left-text {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: justify; /* Justify text */
    font-weight: bold; /* Make text bold */
    line-height: 3; /* Adjust line height */
}

.bottom-right-text {
    position: fixed; /* Change from absolute to fixed */
    bottom: 10px;
    right: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: justify; /* Justify text */
    font-weight: bold; /* Make text bold */
    line-height: 3; /* Adjust line height */
}

@font-face {
    font-family: 'gggg';
    src: url('gggg.ttf') format('truetype'); /* Path to your custom font file */
}
